<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | SpeedX</title>
    <link rel="icon" type="image/x-icon" href="https://drive.google.com/uc?export=download&id=1m6uFt-6qXi2FW50tiJrUM1ABculORKFy">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&display=swap" rel="stylesheet">
    <!-- Mobile Responsive -->
    <link rel="stylesheet" media="screen and (max-width:730px)" href="phone.css">

    <link rel="stylesheet" href="speedx.css">
    <!-- <link rel="stylesheet" href="speedx.scss"> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- <script src="https://apis.mappls.com/advancedmaps/api/2215d1d690e70b73e67757e7a4207f72/map_sdk?layer=vector&v=3.0&callback=initMap1"></script> -->
    <!-- <script src="https://apis.mappls.com/advancedmaps/api/2215d1d690e70b73e67757e7a4207f72/map_sdk_plugins?v=3.0"></script> -->
   
    <!-- <style>
        body { margin: 0; }
        #map {width: 600px; height: 400px;margin: 0; padding: 0; }
        #watermark_logo0 {display: none;}
        div .tracking-map-navigation img {display: none;}
        .mapboxgl-ctrl-top-left {display: none;}
    </style>  -->

    <!-- <script src="https://apis.mappls.com/advancedmaps/api/1c4d023b-0456-44c1-9fba-00243e63b6ab/map_sdk_plugins?v=3.0&libraries=getPinDetails"></script> -->

</head>

<body>
    <!-- navigation bar start  -->


    <div class="main-div" id="main-nav-div">

        <ul type="none" class="nav-item">
            <nav class="navbar">
                <a href="">
                    <p>
                        <h1> <img src="images/SpeedX_free_file1.png" alt="" class="company-logo"> </h1>
                    </p>

                </a>

            </nav>
            <li><a href="">Home</a></li>
            <li>
                <label for="services"></label>
                <select name="submenu" id="submenu" onclick="window.location.href=this.value;">

                    <option disabled selected value="#">Services</option>
                    <option value="/service">Daily Transportation</option>
                    <option value="/service">Packer's & Mover's </option>
                    <option value="/service">Logistics Services</option>

                </select>





            </li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#">Blog</a></li>
            <!-- <li><a href="#">Media</a></li> -->
            <li><a href="/about">About&nbsp;Us</a></li>
            <li><a href="/help">Help</a></li>

            <li><a href="#"></a></li>
            <% if (user) { %>
                <li class="profile" id="profile-id"><a href="#">
                        <img src="images/userImage.png" alt="lol" onclick="toggleMenu()">
                    </a>
                </li>
                <% } else { %>
                    <li class="home-signIn" id="Signin-id"><a href="/signin">Log&nbsp;In/Sign&nbsp;Up</a></li>
                    <% } %>
        </ul>
        <!-- code for side profile  -->
        <div class="profile-submenu-wrap" id="subMenu">
            <div class="profile-submenu">
                <div class="profile-userinfo">
                    <img src="images/userImage.png" alt="">
                    <% if (user) { %>
                        <h1>Welcome, <%= user.name %>
                        </h1>
                        <!-- Display other user properties as needed -->
                        <% } else { %>
                            <h1>Welcome, Guest</h1>
                            <!-- Display a default message or empty values -->
                            <% } %>
                </div>
                <hr>

                <a href="/myprofile" class="profile-submenu-link">
                    <img src="images/editProfile.png" alt="">
                    <p class="profile-submenu-link-text">My Profile</p>
                    <span class="profile-submenu-link-text">></span>
                </a>
                <a href="/Help.html" class="profile-submenu-link">
                    <img src="images/ProfileHelp.png" alt="">
                    <p class="profile-submenu-link-text">Help & Support</p>
                    <span class="profile-submenu-link-text">></span>
                </a>
                <button class="profile-submenu-link" onclick="logout()">
                    <img src="images/logoutImage.png" alt="">
                    <p id="logout-user" class="profile-submenu-link-text">Log Out</p>
                    <span class="profile-submenu-link-text">></span>
                </button>

            </div>
        </div>

    </div>

    <!-- navigation bar end  -->

    <!-- mobile navigation bar start -->
    <div class="main-mobile-nav">
        <div id="mySidebar" class="sidebar">
            <div class="cross-menu">
                <div class="multiply-menuicon crossItem-1">
                    <% if (user) { %>
                        <h1>Welcome, <%= user.name %>
                        </h1>
                        <!-- Display other user properties as needed -->
                        <% } else { %>
                            <h1>Welcome, Guest</h1>
                            <!-- Display a default message or empty values -->
                            <% } %>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                </div>

            </div>
            <a href="">Home</a>
            <% if (user) { %>
            <a href="/myprofile">MyProfile</a>
            <% }%>
            <div class="dropdown">
                <a class="dropbtn" href="/service">Services</a>
                <div class="dropdown-content">
                    <a href="/service">Daily Transportation</a>
                    <a href="/service">Packer's & Mover's </a>
                    <a href="/service">Logistics Services</a>
                </div>
            </div>
            <a href="#">Blog</a>
            <a href="/about">About Us</a>
            <a href="/help">Help</a>
            <% if (user) { %>
            <a onclick="logout()">Logout</a>
            <% } %>
        </div>

        <div class="main-sidebar-nav" id="main">
            <div class="main-sidebar-nav-item sidebar-1">
                <a class="openbtn" onclick="openNav()">&#9776;</a>
            </div>
            <div class="main-sidebar-nav-item sidebar-2">
                <a href=""> <img src="images/SpeedX_free_file1.png" alt=""></a>
            </div>
            <div class="main-sidebar-nav-item sidebar-3">
              <a href="/signin">
                <h1>Login|SignUp</h1>

              </a>
            </div>




        </div>
    </div>
    <!-- mobile navigation bar end -->

    <!-- Main-Image start -->
    <div class="main-image">




        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">






        <div class="container">
            <div class="slider">

                <div class="box1 box">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>Deliverying to every single Village</h1>
                        <p>
                            Our service is accessible to every part of India.
                        </p>

                    </div>

                    <div class="illustration">
                        <div class="inner"></div>
                    </div>
                </div>


                <div class="box2 box">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>We foucused on safety product delivery,wherever we go</h1>
                        <p>
                            We're committed to helping to create a safe transport environment for users.
                        </p>

                    </div>

                    <div class="illustration">
                        <div class="inner"></div>
                    </div>
                </div>

                <div class="box3 box">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>Binding the world</h1>
                        <p>
                            It takes the heart of a trucker to move this country.

                        </p>

                    </div>

                    <div class="illustration">
                        <div class="inner"></div>
                    </div>
                </div>

                <div class="box4 box">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>Bridging the gap b/w where your stuff is &
                            where your stuff's going</h1>
                        <p>
                            Let us deliver on time.
                        </p>

                    </div>

                    <div class="illustration">
                        <div class="inner"></div>
                    </div>
                </div>

                <div class="box5 box">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>Choose us,when not deliverying is not an option.</h1>
                        <p>
                            Creating a sustainable future one delivery at a time.
                        </p>

                    </div>

                    <div class="illustration">
                        <div class="inner"></div>
                    </div>
                </div>

            </div>

            <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91">
                <path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91">
                <path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff" />
            </svg>
            <div class="trail">
                <div class="box1 active">1</div>
                <div class="box2">2</div>
                <div class="box3">3</div>
                <div class="box4">4</div>
                <div class="box5">5</div>
            </div>
        </div>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/gsap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/CSSRulePlugin.min.js"></script> -->


        <!-- Main-Image end ====================================================-->



        <!-- Tracking and navigation start=========================================================== -->

        <div class="tracking-title">
            <h2>Book us for delivery</h2>
        </div>
        <div class="tracking-container">
            <div class="tracking-map-navigation">
                <!-- <div id="map"></div> -->
                <!-- <img src="/static/images/driver.png" alt=""> -->
            </div>
            <div class="tracking-map-navigation-item">
                <div class="tracking-heading tracking-item1">
                    <label for="address">
                        <% if (user) { %>
                            <h6 id="userName" style="display: none;">
                                <%= user.name %>
                            </h6>
                            <h6 id="userID" style="display: none;">
                                <%= user._id %>
                            </h6>
                            <h6 id="userEmail" style="display: none;">
                                <%= user.email %>
                            </h6>
                            <% } else { %>
                                <h6 id="userID" style="display: none;"></h6>
                                <% } %>

                                    <h2>PickUp Address:</h2>
                    </label>
                    <div>
                        <input type="text" name="myAddress" id="myPickUpAddress" required
                            placeholder="Enter PickUp Address">
                        <input type="text" id="pickupOrdinates" style="display: none;">

                    </div>

                </div>
                <div class="tracking-heading tracking-item2">
                    <label for="address">
                        <h2>DropOff Address:</h2>
                    </label>
                    <div> <input type="text" name="myAddress" id="myDropOffAddress" required
                            placeholder="Enter DropOff Address" onchange="findDistance()" >
                            <input type="text" id="dropoffOrdinates" style="display: none;">
                    </div>
                </div>
                <div class="tracking-heading tracking-item3">
                    <h2>Choose Your Requirements:</h2>
                    <label for="Requirements">Personal</label>
                    <input type="radio" class="radioCheck" name="Requirements" value="Personal" id="Requirements">
                    <label for="Requirements">Business</label>
                    <input type="radio" class="radioCheck" name="Requirements" value="Business" id="Requirements">
                    <label for="Requirements">House Shifting</label>
                    <input type="radio" class="radioCheck" name="Requirements" value="House Shifting" id="Requirements">
                </div>
                <div class="tracking-heading tracking-item4">
                    <label for="address">
                        <h2>Booking Date:</h2>
                    </label>
                    <input type="date" name="" id="bookingDate">
                </div>
                <div class="tracking-heading tracking-item5">
                    <span>
                        <h2>Estemeted distance:
                            <p id="distance">0 KM</p>
                        </h2>

                    </span>
                    <span>
                        <h2>&nbsp;&nbsp;&nbsp;Estemeted Cost:
                            <p id="expectedPrice">&nbsp;&nbsp;&nbsp;0 Rs</p>
                        </h2>

                    </span>

                </div>
                <div class="tracking-heading tracking-item6">
                    <span>
                        <input id="addBooking" type="button" value="Book Now">
                    </span>

                </div>
                <div class="tracking-heading">
                    <center>
                        <h1 id="statusBooking" style="color: red"></h1>
                    </center>
                </div>
            </div>
        </div>
        <!-- Tracking and navigation End============================================================ -->



        <!-- What we offer start ================================================= -->

        <div class="top-service-title">
            <h2>What we offer?</h2>
        </div>
        <div class="main-topservice-container">

            <div class="service-item service-item1">
                <div class="service-image service-image1" id="service-id-image1">
                    <img src="images/logistics.jpg" alt="Daily transportation">
                </div>
                <div class="service-text">
                    <h2>Daily Transportation</h2>
                    <p>Book our daily delivery trucks or bike, whenever you want to deliver any items like hardcopy
                        files,
                        gifts,some baggage etc.
                        Our trucks & bike transport on daily basis between the ciy.
                    </p>
                </div>

                <button class="service-button" id="service-button1" type="Know More">
                    <a href="service.html">Know more</a>
                </button>

            </div>
            <div class="service-item service-item2">
                <div class="service-image service-image2">
                    <img src="images/package.png" alt="Packers and movers">
                </div>
                <div class="service-text">
                    <h2>Packer's & Mover's</h2>
                    <p>Book us on total home shifting accross the India from anywhere.</p>
                </div>
                <button class="service-button" type="Know More">
                    <a href="./static/images/service.html">Know more</a>
                </button>
            </div>
            <div class="service-item service-item3">
                <div class="service-image service-image2">
                    <img src="images/enterprises.jpg" alt="Enterprises Delivery">
                </div>
                <div class="service-text">
                    <h2>Logistics Services</h2>
                    <p>Book us for transporting bulk stuff.
                        We guranteed safe and secure delivery.
                    </p>
                </div>

                <button class="service-button" type="Know More">
                    <a href="service.html">Know more</a>
                </button>

            </div>


        </div>

        <!-- What we offer End =================================================== -->




        <!-- Budget-friendly start =================================================== -->

        <div class="friendly-container">
            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <h1>Why use the SpeedX?</h1>
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card card-list card-list-view">

                                <div class="row no-gutters">

                                    <div class="col-lg-5 col-md-5">

                                        <img class="card-img-top" src="images/budgetFriendly.png" alt="Card image cap"
                                            googl="true">
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                        <div class="card-body">
                                            <h5 class="card-title">Budget Friendly</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Compare prices on every kind of
                                                trucks,
                                                Enjoy the most affordable rates in town with our transparent pricing.
                                            </h6>

                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="card card-list card-list-view">

                                <div class="row no-gutters">

                                    <div class="col-lg-5 col-md-5">

                                        <img class="card-img-top" src="images/QuickDelivery.png" alt="Card image cap">
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                        <div class="card-body">
                                            <h5 class="card-title">Fastest Delivery</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">On time delivery to every single
                                                village.</h6>

                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="card card-list card-list-view">

                                <div class="row no-gutters">

                                    <div class="col-lg-5 col-md-5">

                                        <img class="card-img-top" src="images/GPSTracking.png" alt="Card image cap">
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                        <div class="card-body">
                                            <h5 class="card-title">Live Tracking</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Track your goods movement across
                                                the city with our website from any where and any time.</h6>

                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="card card-list card-list-view">

                                <div class="row no-gutters">

                                    <div class="col-lg-5 col-md-5">

                                        <img class="card-img-top" src="images/InsuredDelivery2.png"
                                            alt="Card image cap">
                                    </div>
                                    <div class="col-lg-7 col-md-7">
                                        <div class="card-body">
                                            <h5 class="card-title">Insured Delivery</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Safe and secure delivery.Any
                                                damages while transportation <br>
                                                would be our responsibilty,
                                                refund upto 100% depending upon goods and damages.
                                            </h6>

                                        </div>
                                        <div class="card-footer">

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- Budget-friendly end =================================================== -->

        <!-- Animation-van start ================================================== -->
        <div class="animation-van-container">
            <div class="van-item van-item1">
                <h1 data-text="Thanks to you,">Thanks to you,</h1>
                <h1 data-text="We are growing each &"> We are growing each &</h1>
                <h1 data-text="every day.">every day.</h1>


            </div>
            <div class="van-item van-item2">
                <div class="loop-wrapper">
                    <div class="mountain"></div>
                    <div class="hill"></div>
                    <div class="tree"></div>
                    <div class="tree"></div>
                    <div class="tree"></div>
                    <div class="rock"></div>
                    <div class="truck"></div>
                    <div class="wheels"></div>
                </div>
            </div>
        </div>
        <!-- Animation-van End ================================================== -->

        <!-- Benefits start ======================================================= -->
        <div class="benefits-maindiv">
            <div class="counter-container benefits-box1">
                <div class="benefit-img">
                    <img src="images/Network.png" alt="">
                </div>

                <div class="counter" data-target="4000"></div>
                <span>
                    <p>Transporting Network</p>
                </span>
            </div>
            <div class="counter-container benefits-box2">
                <div class="benefit-img">
                    <img src="images/driver.png" alt="">
                </div>

                <div class="counter" data-target="8000"></div>
                <span>
                    <p>Driver Partners</p>
                </span>
            </div>
            <div class="counter-container benefits-box3">
                <div class="benefit-img">
                    <img src="images/happyclients.png" alt="">
                </div>
                <div class="counter" data-target="15000"></div>
                <span>
                    <p>Our Happy Clients</p>
                </span>
            </div>
            <div class="counter-container benefits-box4">
                <div class="benefit-img">
                    <img src="images/Locations.png" alt="">
                </div>
                ''
                <div class="counter" data-target="500"></div>
                <span>
                    <p>Locations</p>
                </span>
            </div>
        </div>
        <!-- Benefits End ======================================================= -->


        <!-- Customer Tesimonial start ================================================ -->
        <div class="customer-testimonial-topdiv">
            <div class="customer-testimonial-maindiv">
                <div class="customer-testimonial-heading">
                    <p>Our Customer Testimonial</p>
                    <h1>See what customer say about us</h1>
                </div>
                <div id="testim" class="testim">
                    <!--         <div class="testim-cover"> -->
                    <div class="wrap">

                        <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                        <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                        <ul id="testim-dots" class="dots">
                            <li class="dot active"></li><!--
                        -->
                            <li class="dot"></li><!--
                        -->
                            <li class="dot"></li><!--
                        -->
                            <li class="dot"></li><!--
                        -->
                            <li class="dot"></li>
                        </ul>
                        <div id="testim-content" class="cont">

                            <div class="active">
                                <div class="img"><img src="" alt="Loading"></div>
                                <h2>Lorem P. Ipsum</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco.</p>
                            </div>

                            <div>
                                <div class="img"><img src="" alt="Loading"></div>
                                <h2>Mr. Lorem Ipsum</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco.</p>
                            </div>

                            <div>
                                <div class="img"><img src="" alt="Loading"></div>
                                <h2>Lorem Ipsum</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco.</p>
                            </div>

                            <div>
                                <div class="img"><img src="" alt="Loading"></div>
                                <h2>Lorem De Ipsum</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco.</p>
                            </div>

                            <div>
                                <div class="img"><img src="" alt="Loading"></div>
                                <h2>Ms. Lorem R. Ipsum</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt
                                    ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco.</p>
                            </div>

                        </div>

                    </div>
                    <!--         </div> -->
                </div>

                <script src="https://use.fontawesome.com/1744f3f671.js"></script>
            </div>
        </div>
        <!-- Customer Tesimonial End  ================================================ -->





        <!-- FAQ start ============================================================= -->
        <div class="vfaq-container-topdiv">
            <div class="faq-container" id="faq-id">
                <div class='centerplease'>
                    Frequently Asked Questions
                </div>
                <br>

                <div class="content">
                    <div>
                        <input type="checkbox" id="question1" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question1" class="question">
                            What is SpeedX?
                        </label>
                        <div class="answers">
                            SpeedX is India's largest and fastest growing delivery service provider. SpeedX is here to
                            deliver stuff between the cities as we have most safe and secure delivery service model.
                        </div>
                    </div>

                    <div>
                        <input type="checkbox" id="question2" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question2" class="question">
                            How do I use SpeedX?
                        </label>
                        <div class="answers">
                            1.Open SpeedX Website-www.speedx.com <br>
                            2.Select pick up and delivery destination. <br>
                            3.Choose and rent from 2 wheeler and various mini trucks options (Tata Ace, Pickup 8ft,
                            Pickup
                            7ft, Tempo etc) <br>
                            4.Vehicle arrives in under 15 minutes. <br>
                        </div>
                    </div>

                    <div>
                        <input type="checkbox" id="question3" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question3" class="question">
                            How do I book a tempo/mini van or bike online from SpeedX?
                        </label>
                        <div class="answers">
                            SpeedX is an web that provides affordable and reliable moving services. <br>

                            Steps to hire a van: <br>

                            1.Sign into the SpeedX web. <br>
                            2.Browse through the list of available vehicles (Tata Ace, Pickup 8ft, 2 wheeler etc) and
                            pick
                            the
                            one that suits your moving needs. <br>
                            3.Set your pick up and drop off location. <br>
                            4.Enter a few additional details, apply coupons to get exciting discounts, and confirm your
                            booking. <br>
                            5.Sit back and relax- our verified driver partners and technology will do the rest.
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" id="question4" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question4" class="question">
                            Does SpeedX provide intercity or interstate delivery service?
                        </label>
                        <div class="answers">
                            Yes, SpeedX provides intercity & interstate services as well. The intercity & interstate
                            service
                            allows you to deliver stuff anywhere within 200 km radius from the city center.
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" id="question5" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question5" class="question">
                            What are the charges for a SpeedX truck/van and SpeedX bike delivery service?

                        </label>
                        <div class="answers">
                            The charges for hiring a SpeedX truck/van and SpeedX bike are based on the number of
                            kilometres
                            travelled, type of vehicle and differs from locality to locality. You can also check the
                            estimate tab on the SpeedX page to get an exact idea of your trip amount.
                        </div>
                    </div>
                    <div>
                        <input type="checkbox" id="question6" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question6" class="question">
                            Does SpeedX provide Packers and Movers services?
                        </label>
                        <div class="answers">
                            We have launched Packers and Movers services in Mumbai, Hyderabad, and Nagpur will be
                            launching soon in other cities. To avail or enquire about this, call us on
                            +91-(983)400–10–79

                        </div>
                    </div>
                    <div>
                        <input type="checkbox" id="question7" name="q" class="questions">
                        <div class="plus">+</div>
                        <label for="question7" class="question">
                            How long does SpeedX take to deliver?
                        </label>
                        <div class="answers">
                            The distance & traffic play a major role in determining the delivery time, but we guarantee
                            same
                            day delivery.
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- FAQ end ============================================================= -->


        <!-- Footer Start  -->
        <div class="footerdeep">
            <footer id="site-footer">

                <section class="horizontal-footer-section" id="footer-top-section">
                    <div id="footer-logo">
                        <picture>
                            <a href=""><img src="images/SpeedX_free_file2.png" alt="footer logo"
                                    role="presentation"></a>
                        </picture>
                    </div>

                </section>

                <section class="horizontal-footer-section" id="footer-middle-section">
                    <div id="footer-about" class="footer-columns footer-columns-large">
                        <h1>Our Address</h1>
                        <address>
                            <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">Vanjar Umar Road,
                                Gondegaon Jalna,Maharashtra,India
                                Pin-431213</p>
                            <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">+91 (983) 400–10–79</p>
                            <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">wagharjun609@gmail.com
                            </p>
                            <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">8:00 AM – 8:00 PM</p>
                        </address>
                        <h1> Our Newsletter</h1>
                        <a href="#" class="footer-button" role="button">Subscribe</a>
                    </div>
                    <div class="footer-columns">
                        <h1>Overview</h1>
                        <ul class="footer-column-menu" role="menu">
                            <li class="footer-column-menu-item" role="menuitem">
                                <a href="service.html" class="footer-column-menu-item-link">Services </a>
                            </li>

                            <li class="footer-column-menu-item" role="menuitem">
                                <a href="#" class="footer-column-menu-item-link">Careers</a>
                            </li>
                            <li class="footer-column-menu-item" role="menuitem">
                                <a href="Help.html" class="footer-column-menu-item-link">Help</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-columns">
                        <h1>Resources</h1>
                        <ul class="footer-column-menu" role="menu">
                            <li class="footer-column-menu-item" role="menuitem">
                                <a href="#faq-id" class="footer-column-menu-item-link">FAQs</a>
                            </li>
                            <li class="footer-column-menu-item" role="menuitem">
                                <a href="#" class="footer-column-menu-item-link">Media</a>
                            </li>
                            <li class="footer-column-menu-item" role="menuitem">
                                <a href="#" class="footer-column-menu-item-link">Blog</a>
                            </li>

                        </ul>
                    </div>
                    <div class="footer-columns">
                        <h1>Information</h1>
                        <ul class="footer-column-menu" role="menu">
                            <li class="footer-column-menu-item" role="menuitem">
                                <a href="AboutUs.html" class="footer-column-menu-item-link">About Us</a>
                            </li>
                            <li class="footer-column-menu-item" role="menuitem">
                                <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
                            </li>
                            <li class="footer-column-menu-item">
                                <a href="#" class="footer-column-menu-item-link" role="menuitem">Legal Information</a>
                            </li>

                        </ul>
                    </div>
                </section>

                <section class="horizontal-footer-section" id="footer-bottom-section">
                    <div id="footer-copyright-info">
                        &copy; SpeedX Inc. 2023. All rights reserved.
                    </div>
                    <div id="footer-social-buttons">
                        <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png" />
                        <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png" />
                        <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png" />
                        <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png" />
                    </div>
                </section>

            </footer>


        </div>

        <!-- Footer End  -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="booking.js"></script>
        <script src="login.js"></script>
        <script src="speedx.js"></script>
        <script src="maps/distance.js"></script>
        <!-- <script src="maps/suggestAddress.js"></script> -->
</body>

</html>